* {
  text-decoration: none;
}
body {
  background-color: #333;
}
ul, ol {margin: 0; padding: 0;}
#container {
  max-width : 940px;
  margin: 0 auto;
  padding: 30px;
  background-color: #fffff0;
}
h1, h2 {
  text-align: center;
}
span {
  display: inline-block;
}
.navGnb {
  display: block;
  width: 940px;
  margin: 0 auto;
  text-align: center;
}
.navGnb ul {
  list-style: none;
}
.navGnb>ul {
  width: 940px;
  height: 350px;
  margin: 0 auto;
}
.gnb1dep {
  height: 40px;
  width: 310px;
  float: left;
  line-height: 40px;
  font-size: 25px;
}
.navGnb>ul:after {
  content: '';
  display: block;
  clear: both;
}
.gnb2dep {
  padding: 5px;
  height: 35px;
  line-height: 35px;
  font-size: 18px;
}
.navGnb a {
  display: inline-block;
}
nav.navLnb {
  position: fixed;
  padding: 13px 0 13px 30px;
  top: 10px;
  right: 5px;
  width: 360px;
  border: solid 1px #000000;
  background-color: #faebd7;
}
/* nav.navLnb ul {list-style-position:inside;} */
table {
  margin: 20px 0; 
}
table, tr, th, td {
  border: solid 1px #000;
  border-collapse: collapse;
}
tr, th, td {
  padding: 10px;
}
.img {
  float: left;
  width: 30%;
}
.text {
  float: left;
  width: 65%;
  margin-left: 30px;
}
.code {
  margin:10px 30px;
  padding:10px 30px;
  background-color:#eee;
}
.test {
  padding: 10px;
  background-color: #fcd7dd;
}
.quiz {
  margin-top: 20px;
  padding: 10px;
  border: 3px solid #000;
  background-color: #98b5e9;
}