/* Color Theme Swatches in Hex */
.The-Female-Gaze-1-hex { color: #F2EFC4; }
.The-Female-Gaze-2-hex { color: #A6A198; }
.The-Female-Gaze-3-hex { color: #BF9969; }
.The-Female-Gaze-4-hex { color: #A66D58; }
.The-Female-Gaze-5-hex { color: #402A22; }
/* Color Theme Swatches in Hex */
.Yoondesign-Group-1-hex { color: #F2F2F2; }
.Yoondesign-Group-2-hex { color: #BFBFBF; }
.Yoondesign-Group-3-hex { color: #595959; }
.Yoondesign-Group-4-hex { color: #262626; }
.Yoondesign-Group-5-hex { color: #0D0D0D; }

* {
  text-decoration: none;
}
body {
  background-color: #402A22;
}
section{
  margin: 50px 0 20px;
}
ul, ol {margin: 0; padding: 0;}
#container {
  max-width : 940px;
  margin: 0 auto;
  padding: 30px;
  background-color: #F2EFC4;
}
h1 {
  color: #402A22;
}
h1, h2 {
  text-align: center;
}
span {
  display: inline-block;
}
a {
  color: #402A22;
}
a:visited {
  color: #A66D58;
}
.navGnb {
  margin: 10px auto 40px;
  text-align: center;
}
.navGnb ul {
  list-style: none;
}
.navGnb>ul {
  margin: 0 auto;
}
.gnb1dep {
  float: left;
  font-size: 25px;
}
.navGnb>ul:after {
  content: '';
  display: block;
  clear: both;
}
.gnb2dep {
  padding: 3px 5px;
  font-size: 18px;
}
.navGnb a {
  display: inline-block;
}
nav.navLnb {
  position: fixed;
  padding: 13px 0 13px 30px;
  top: 10px;
  right: 5px;
  width: 360px;
  border: solid 2px #000000;
  background-color: #A66D58;
}
.navLnb a {
  color: #F2EFC4;
}

table {
  margin: 20px 0; 
}
table, tr, th, td {
  border: solid 1px #000;
  border-collapse: collapse;
}
tr, th, td {
  padding: 10px;
}
.img {
  float: left;
  width: 30%;
}
.text {
  float: left;
  width: 65%;
  margin-left: 30px;
}
.code {
  margin:10px 30px;
  padding:10px 30px;
  color: #F2F2F2;
  background-color: #A6A198;
}
.test {
  padding: 10px;
  color: #F2F2F2;
  background-color: #BF9969;
}
.quiz {
  margin-top: 20px;
  padding: 10px;
  border: 5px solid #402A22;
  background-color: #BF9969;
}